@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600&family=IBM+Plex+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Custom Scrollbar - Reverted to Square Edges */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.dark ::-webkit-scrollbar-track {
  background: #161616;
}
.dark ::-webkit-scrollbar-thumb {
  background: #393939;
  /* border-radius removed for square edges */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background: #525252;
}

::-webkit-scrollbar-track {
  background: #f4f4f4;
}
::-webkit-scrollbar-thumb {
  background: #c6c6c6;
  /* border-radius removed for square edges */
}

/* CUSTOM ANIMATIONS */
@layer utilities {
  .animate-fade-in {
    animation: fadeIn 0.2s ease-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}